---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="https://placehold.co/800?text=PLACEHOLDER&font=roboto">
            <source media="(min-width: 601px)" srcset="https://placehold.co/800?text=PLACEHOLDER&font=roboto">
            <img aria-hidden="true" decoding="async" src="https://placehold.co/800?text=PLACEHOLDER&font=roboto" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="https://placehold.co/800?text=PLACEHOLDER&font=roboto">
                    <source media="(min-width: 601px)" srcset="https://placehold.co/800?text=PLACEHOLDER&font=roboto">
                    <img aria-hidden="true" decoding="async" src="https://placehold.co/800?text=PLACEHOLDER&font=roboto" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="https://placehold.co/800?text=PLACEHOLDER&font=roboto">
                    <source media="(min-width: 601px)" srcset="https://placehold.co/800?text=PLACEHOLDER&font=roboto">
                    <img aria-hidden="true" decoding="async" src="https://placehold.co/800?text=PLACEHOLDER&font=roboto" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <h2 class="cs-title">About</h2>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        <i>In consequat tincidunt turpis sit amet imperdiet. Praesent Classei consequat tincidunt turpis sit amet imperdiet for mind.</i>
                    </p>
                    <span class="cs-name">Monkey D. Luffy</span>
                    <span class="cs-job">Pirate King</span>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}